#nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    background-color: rgb(212, 93, 216);
    
}

#nav li{
    margin: 5px;
    padding: 10px 15px;
}

#nav li:hover{
    background-color: dodgerblue;
}

#nav a{
    text-decoration: none;
}

/* modelo de caja */
.padre{
    background-color: fuchsia;
    padding: 20px;
}
.hijo{
    background-color:deepskyblue;
    padding: 100px;
    border: 10px solid black;
    margin: 30px;
    display: flex;
    justify-content: center;
}
#contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color:darkorchid;
    gap: 1rem;
}
.boton1{
    margin: 30px;
}
.boton2{
    margin: 30px;
}
.card{
    width: 200px;
    background-color: #fff;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 4px 8px black;

}
.card img{
    width: 100%;
    border-radius: 8px;
    
}
.card p{
    color: #fff;
    background-color: black;
}
/*carrito de compras*/
#carritoLista{
    background-color: violet;
    list-style: none;
    padding: 10px;
    margin: 10px;
    border: 5px solid blue;
    border-radius: 10px;
    
}

/*concurrencia */
pre{
    text-align: left;
    background-color: black;
    padding: 1rem;
    border-radius: 10px;
    width: 80%;
    color: mediumturquoise;
}

/*try catch */
#bodyTry{
    display: flex;
    flex-direction: column; 
    align-items: center;
}
#mensaje{
    font-weight: bold;
    color : red;
}